.hornedBeasts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-header {
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* the Bootstrap imported card has styles added that I don't like. They show up in the inspection tool in the browser, but not in VS Code. These two styles were added to negate the default styles imported from Bootstrap. */
	background-color: white;
	border-bottom: none;
}

.hearts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.heartButton {
	cursor: pointer;
	font-size: 1.5rem;
	width: max-content;
}

.card {
	margin: .25rem;
}

.card img {
	border: 1px solid black !important;
	width: 250px;
	height: 250px;
}
